<html ng-app="myApp">

<head>
    <meta http-equiv="Conten-Type" content="text/html; charset=UTF-8">
    <title>Hello World</title>
    <!--CSS Utilizados-->
    <link rel="stylesheet" type="text/css" href="css2/angular-material.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!--Bibliotecas JavaScript Utilizadas-->
    <script src="lib2/angular.min.js"></script>
    <script src="lib2/angular-aria.min.js"></script>
    <script src="lib2/angular-animate.min.js"></script>
    <script src="lib2/angular-material.min.js"></script>

    <!--Cotroller do angular-->
    <script src="js/app.js"></script>
</head>

<body ng-controller="myAppCtrl">
    <!--Barra de Título-->
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Cadastro de Produto</h2>
        </div>
    </md-toolbar>

    <!-- Conteudo da página -->
    <md-content layout-padding>
        <div>
            <form name="form">
                <md-input-container class="md-block">
                    <label>Descrição do produto:</label>
                    <textarea name="descricao" ng-model="produto.descricao" md-maxlength="200" required></textarea>
                    <div ng-messages="form.descricao.$error">
                        <div ng-message="required">Esse campo e obrigatório.</div>
                        <div ng-message="md-maxlength">Esse campo deve conter no máximo 200 caracteres.</div>
                    </div>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Marca do produto:</label>
                        <md-select ng-model="produto.marca" required>
                            <md-option ng-repeat="marca in marcas" value="{{marca}}">
                                {{marca.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-fab md-mini md-primary" aria-label="Novo" ng-click="cadastrarMarca($event)">
                        <md-icon md-svg-src="img/add.svg"></md-icon>
                    </md-button>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Unidade de Medida:</label>
                        <md-select ng-model="produto.unidadeMedida" required>
                            <md-option ng-repeat="unidadeMedida in unidadesMedida" value="{{unidadeMedida}}">
                                {{unidadeMedida.nome}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-fab md-mini md-primary" aria-label="Novo" ng-click="cadastrarUnidadeMedida($event)">
                        <md-icon md-svg-src="img/add.svg"></md-icon>
                    </md-button>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Valor do Produto: (Utilize ponto para separar as casas decimais. Ex. 10.59)</label>
                        <input name="valor" type="number" ng-model="produto.valor" required>
                        <div ng-messages="form.valor.$error">
                            <div ng-message="required">Esse campo e obrigatório.</div>
                        </div>
                    </md-input-container>
                </div>
                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button ng-click="salvar(produto)" class="md-raised md-primary" ng-disabled="form.$invalid">Salvar produto</md-button>
                </section>
            </form>
        </div>
    </md-content>
</body>

</html>